#root, html, body {
    margin: 0;
    padding: 0;
    height: 100vh;
    box-sizing: border-box;
}


.app {
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('./images/me2.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.card {
    background: linear-gradient(to right, #7474bf, #348ac7);
    opacity: 0.3;
    width: 40%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    padding: 2%;
    box-shadow: 2px 2px #ece9e6;
}

.heading {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    align-items: center;
    height: 580px;

}

.button {
    font-size: 1.2rem;
    transition: 0.5s ease-in-out;
    width: 150px;
    border-radius: 5px;
    background: linear-gradient(to right, #757f9a, #d7dde8);
    color: #232526;
}


.button:hover {
    color: #d7dde8;
    background: #232526;
    transform: translateY(2px);
}

@media only screen and (max-width: 600px) {
    .card {
        width: 80%;
        height: 30%;
    }
}